<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="IsDevelopment" value="false"/>
		<add key="adminMailId" value="yajudev2018@gmail.com,himanshu61@gmail.com,richakhanna30@gmail.com,rai.mridula1981@gmail.com,utkarshseetha@gmail.com,sambhav2091@gmail.com"/>
		<add key="IsDevelopmentToMailId" value="akashpatidar26930@gmail.com"/>
		<add key="IsDevelopmentCcMailId" value="pawankumar0309@gmail.com"/>

	</appSettings>
	<connectionStrings>

		<add name="Conn" connectionString="Data Source=20.204.58.20;Initial Catalog=Dev_SfaPortal;User ID=SfaUser;Password=Tabu@100%#him" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<!--<smtp deliveryMethod="Network" from="admin@mail.stmpmail.in">-->
			<smtp deliveryMethod="Network" from="admin@stmpmail.in">
				<!--<network host="mail.stmpmail.in" port="25" enableSsl="false" userName="admin" password="Sfa@2024#" defaultCredentials="false"/>-->
				<network host="smtp.office365.com" port="587" enableSsl="true" userName="admin@stmpmail.in" password="Sfa@2024#" defaultCredentials="false"/>
				<!--<network host="smtp.gmail.com" port="587" enableSsl="true" userName="portal.sfatechnologies@gmail.com" password="qhqpljtoshbbfyqt" defaultCredentials="false"/>-->
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
